/* mobile devices  */
@media screen and (max-width:600px) {
    
    .navigation-bar, 
    .items-container,
    .input,
    .second-section,
    .first, .second, .third,
    .flex            {
        flex-direction: column;
    }
    .section-title{
        font-size: 24px;
        font-weight: 800;
    }
    .section-description{
        font-size: 14px;
        font-weight: 400;
        width: auto;
        padding: 18px;
        
    }
    .navigation-bar{
        align-items: center;
    }
     /* first-section  */
     
    .first-section img{
        max-width: 90%; 
        height: 450px;
        margin: 10px auto;
        object-fit: cover;
    }
    .banner-description{
        position: absolute;
        top: 20%;
        left: 21%;
        width: 60%;
        text-align: center;
    }
    .banner-description h1{
        font-size: 22px;
        text-align: center;
        margin-top: 35px;
    }
   
    .input{
        margin:0 auto;
        max-width: 50%;
        height: 150px;
        left: 28%;
        gap: 5px;
    }
    .input button, input, option {
        width:70%;
         height: 40%;
        
    }
    /* first-section  */
    /* second-section   */
    .second-section {
        padding: 15px;
        margin: 5px;
    }
    .popular-description{
        width: 90%;
        font-size: 12px;
        font-weight: 400;
    }
    .popular-section-img img{
        margin-top: 20px;
        width: 100%;
        object-fit: cover;
    }
   
    .first img {
        width: 90%;
        margin: 5px auto;
    }
    .second img {
        width: 90%;
        margin: 5px auto;
    }
    .third img {
        width: 90%;
        margin: 5px auto;
    }
    .maldives{
        top: 16%;
        left: 33%;
    }
    .indonesia {
        top: 30%;
        right: 35%;
    }
    .srilanka {
        top: 44%;
        left: 35%;
    }
    .north-south{
        top: 56%;
        left: 30%;
    }
    .kashmir {
        top: 70%;
        left: 38%;
    }
    .bangladesh {
        top: 85%;
        left: 30%;
    }
    .bandarban {
        top: 96%;
        right: 33%;
    }
    .hotels, .services{
        margin: 0 auto;
        padding: 10px;
        max-width: 85%;
    }
    .percent{
        margin: 0 auto;
        padding: 10px;
        max-width: 92%;
    }
    .common-title{
        font-size: 20px;
    }
    .common-description{
        width: auto;
    }
}