@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
.hide{
    display: none;
}
*{
    font-family: 'Mulish', sans-serif;
    margin: 0%;
    padding: 0%;
}
span{
    color: darkorange;
}
.section-title{
    font-size: 40px;
    font-weight: 800px;
    margin-top: 25px;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    width: 500px;
    margin: 30px auto;
}
.btn-primary{
    width: 170px; 
    height: 50px; 
    border: 0;    
    border-radius: 8px;
    padding-left: 10px;
    background-color: darkorange;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: chocolate;
}
.header{
    max-width: 1200px;
    margin: 15px auto;
}
.navigation-bar{
   display: flex;
}
.nav-container{
    display: flex;
    width: 50%;
}

.nav-container p{
    font-size: 30px;
    font-weight: 800;
    margin-left: 5px;
}
.items-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items-container img{
    display: none;
}
.items-container a{
    text-decoration: none;
    color: grey;
   
}
/* main section  */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* first-section  */
.first-section{
    position: relative;
    text-align: center;
   
}
.banner-description{
    position: absolute;
    top: 25%;
    left: 23%;
    color: white;
}
.banner-description h1{
    font-size: 64px;
    font-weight: 800;
}
.banner-description p{
    font-size: 14px;
    font-weight: 400px;
    margin-top: 5px;
}
.input{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
     top: 55%;
    left: 15%;  
    border-radius: 8px;
    background:rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 70px;
}

/* first section  */

/* second-section  */
.second-section{
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}
.popular-section button{
    margin-top: 30px;
}
.popular-description{
    text-align: start;
    width: 550px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-top: 30px;
}
/* third-section  */
.third-section{
  
}
.destination{
    text-align: center;
    margin-top: 90px;
}
.one-img,.two-img,.three-img,.four-img,.five-img,.six-img,.seven-img {
    position: relative;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
}
 
.maldives,.indonesia,.srilanka,.north-south,.kashmir,.bangladesh,.bandarban{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
} 

.first img{
    width: 570px;
    height: 300px;
} 
.first{
    display: flex;
     margin-bottom: 12px;
    gap: 15px;
}
.second{
    display: flex;
    gap: 15px ;
    margin-bottom: 12px;
}
.third{
    display: flex;
    gap: 15px ;
    margin-bottom: 12px;
}
/* fourth-section  */
.fourth-section{
    margin-top: 90px;
    text-align: center;
}
.flex{
    display: flex;
    gap: 15px;
}
.common-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 15px auto;
}
.common-description{
    text-align: start;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    width: 480px;
}
.hotels{
    text-align: start;
    padding: 25px;
    width: 560px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.services{
    text-align: start;
    padding: 25px;
    width: 560px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.percent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.best-price{
    margin-top: 15px;
    text-align: start;
    padding: 25px;
    width: 550px;
    height: 200px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
/* unique section  */
.unique-section{
    margin-top: 100px;
}
.unique-section h2, p{
    text-align: center;
}
  .unique-section div img{
    margin: 15PX 35px;
    width: 230px;
    height: 210px;
    object-fit: cover;
  }
  .local-guide{
    display: flex;
   justify-content: space-evenly;
    gap: 20px;
  }

  .guide-one, .guide-two,.guide-three{
    width: 300px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

  }
 
  .guide-one-img,.guide-two-img,.guide-three-img{
    padding: 15px;
  }
 
/* sixth-section  */
.sixth-section{
    max-width: 1200px;
}
.perfect-place{
    margin-right: 95px;
}
..perfect-place p{
    text-align: start;
}
.perfect-place button{
    margin-top: 20px;
}
.place{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.place-video video{
    height: 90%;
    width: 90%; 
    border-radius: 16px;"
}
.sea{
    position: absolute;
    top: 45%;
    right: 12%;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;  
}
 /* seventh-section  */
 .newsletter{
    margin-top: 90px;
    display: flex;
    max-width: 40%;
    height: 420px;
    border: 1px solid orangered;
    border-radius: 16px;
 }
 .newsletter p{
    text-align: start;
 }
 .input-title{
    font-size: 24px;
    font-weight: 800;
 }
 .newsletter-input{
    padding: 25px;
   
 }
 .newsletter-input input{
    display: flex;
   margin-bottom: 10px;
    padding: 10px;
    width: 80%;
    height: 10%;
    border-radius: 8px;
    border: 0;
    background: rgba(19, 19, 24, 0.05);
 }
 .newsletter-input button{
    width: 85%;
    height: 15%;
    font-size: 22px;
    font-weight: 700;
 }
 .input-img img{
    
    max-width: 660px;
    height: 430px;
 }
 .input-img{
    position: relative;
 }
 .input-img button{
    width: 280px;
    height: 100px;
    font-size: 25px;
    position: absolute;
    top: 285px;
    right: 1px;
    rotate: -30deg;
}
/* footer section  */
footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 150px;
}
.first-part{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-brands {
    width: 30px;
    margin-bottom: 30px;
    
}
 small{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 40px;
} 
 